* {
    box-sizing: border-box;
    font-family: "Bowlby One SC", cursive;
    font-size: 1.2rem;
    color: #ffffff;
}

body {
    background: #1B1717;
    color: #bbbbbb;
}

#canvas {
    background: #EEEBDD;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #9984d4;
}

.high-score {
    position: absolute;
    top: 1.5rem;
    width: 80%;
    left: 10%;
    text-align: center;
}

.reset {
    cursor: pointer;
    position: absolute;
    top: 95%;
    left: 10%;
    width: 80%;
    text-align: center;
}