body
{
    background: linear-gradient(135deg, gray, black) no-repeat;
    background-size: 100% 250%;
}
#imageBox
{
    height: 256px;
    border: 4px solid beige;
    position: relative;
    top: 500px;
    background: linear-gradient(90deg, black, gray, black)
}